:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-light: #ECF1F6;
  --color-blue-light: #d7e1eb;
  --color-blue-light-iso: #dee6ee;
  --color-blue-default: #C4CFDA;
  --color-blue-dark-card: #192570;
  --color-blue-dark: #0E1457;

  --spc-s: 8px;
  --spc-m: 12px;
  --spc-l: 24px;

  @media only screen and (min-width: 1160px) {
    --spc-s: 12px;
    --spc-m: 24px;
    --spc-l: 40px;
  }


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body.page-screen {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 22px;
  color: var(--color-blue-dark);
}

main {
  overflow-x: hidden;

  @media only screen and (min-width: 1160px) {
    height: 100vh;
    overflow: hidden;
  }
}

section {
  width: 100%;
  padding: var(--spc-m);

  @media only screen and (min-width: 1160px) {
    height: 100vh;
  }
}

a {
  all: unset;
  cursor: pointer;

  &:not(.title):hover {
    text-decoration: underline;
  }
}

button:focus,
a:focus {
  outline: none;
  box-shadow: none;
}

a,
a:link,
a:active,
a:focus {
  color: inherit;
  text-transform: none;
}

a.underline {
  text-decoration: underline;
}


h1 {
  font-size: 14px;
}

*::selection {
  background-color: var(--color-blue-dark);
  color: var(--color-blue-light);
}

//Buttons
.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: fit-content;
  display: inline;
  color: var(--color-blue-dark);
  font-size: 12px;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.7;
    transition: opacity .3s ease;
  }
}

// Background gradient
.bg-grad {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(200deg,
      var(--color-blue-default) 40%,
      var(--color-light) 100%);
}

// Header
.c-hdr,
.c-footer {
  width: 100%;
  display: flex;
  padding: var(--spc-m);
  flex-direction: column;
  gap: 12px;
  z-index: 9;

  @media only screen and (min-width: 1160px) {
    position: fixed;
    flex-direction: row;
    align-items: center;
  }
}

.page-screen {

  .c-hdr,
  .c-footer {
    opacity: 0;
    transition: opacity .8s ease;

  }
}


.c-footer {
  bottom: 0;
  justify-content: space-between;

  &>*:nth-child(1) {
    flex-direction: column;
    gap: 12px;

    @media only screen and (min-width: 1160px) {
      flex-direction: row;
      gap: 60px;
    }
  }
}

// SECTIONS
// Intro
.s-intro {
  padding-top: 40px;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 50px !important;

  @media only screen and (min-width: 1160px) {
    flex-direction: row;

    &>* {
      width: 50%;
    }
  }


  &__desc {
    max-width: 570px;
    gap: 4px !important;
    align-items: start;
    flex-direction: column;
    z-index: 4;

    a.btn {
      margin-top: 0px;
    }

  }

  &__cards {
    justify-content: start;
    padding-top: 110px;
    position: relative;
    padding-left: 20px;

    & .c-card {
      width: 60vw;
      max-width: 300px;
    }

    @media only screen and (min-width: 500px) {

      & .c-card {
        width: 300px;
        max-width: unset;

      }
    }

    @media only screen and (min-width: 1160px) {
      align-items: center;

      & .c-card {
        width: 380px;
      }
    }


  }
}

// Cards
.c-card {
  position: relative;
  background-color: var(--color-blue-light);
  padding: var(--spc-m);
  text-align: center;
  aspect-ratio: 14/19;
  border: 1.2px solid var(--color-blue-dark-card);
  box-shadow: 5px 5px 10px rgba(1, 1, 42, 0.073);

  &__txt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      max-width: 200px;
      font-size: 16px;
      line-height: 22px;

      @media only screen and (min-width: 1160px) {
        max-width: 280px;
        font-size: 20px;
        line-height: 29px;
      }
    }

    &.iso {
      p {
        font-size: 17px;
        line-height: 24px;
  
        @media only screen and (min-width: 1160px) {
          max-width: 280px;
          font-size: 20px;
          line-height: 29px;
        }
      }
    }
  }

  & *::selection {
    background-color: transparent;
    color: var(--color-blue-dark-card);
  }
}

.deck-slide.active .c-card {
  transition: transform .5s ease, background-color .5s ease, box-shadow .5s ease;

  &:hover {
    transform: translateY(3px) translateX(-3px);
    transition: transform .5s ease, background-color .5s ease, box-shadow .5s ease;
    background-color: #dee7f0;
    box-shadow: 5px 5px 20px rgba(1, 1, 42, 0.204);

    .c-card__svg use {
      fill: #dee7f0;
    }

  }

}

.c-card__star {
  position: absolute;
  width: 45px;
  height: 45px;
  pointer-events: none;
  display: inline-block;
}

.c-card__svg {
  width: 35px;
  height: 35px;
  display: block;

  @media only screen and (min-width: 1160px) {
    width: 45px;
    height: 45px;
  }
}

.c-card__svg use {
  fill: var(--color-blue-light);
  stroke: var(--color-blue-dark-card);
  stroke-width: 1.5px;
  stroke-linejoin: round;

  @media only screen and (min-width: 1160px) {
    stroke-width: 1.2px;

  }
}

.c-card__star--tl {
  top: -18px;
  left: -18px;
}

.c-card__star--tr {
  top: -18px;
  right: -28px;
}

.c-card__star--bl {
  bottom: -28px;
  left: -18px;
}

.c-card__star--br {
  bottom: -28px;
  right: -28px;
}

@media only screen and (min-width: 1160px) {
  .c-card__star--tl {
    top: -23px;
    left: -23px;
  }

  .c-card__star--tr {
    top: -23px;
    right: -23px;
  }

  .c-card__star--bl {
    bottom: -23px;
    left: -23px;
  }

  .c-card__star--br {
    bottom: -23px;
    right: -23px;
  }
}

// Utility
.flx {
  display: flex;
  gap: var(--spc-s);
}

.flx-cl {
  display: flex;
  gap: var(--spc-s);
  flex-direction: column;
}

.g60 {
  gap: 60px;
}

.hide-mb {
  display: none;

  @media only screen and (min-width: 1160px) {
    display: flex;
  }
}

//Deck slider
.deck-slider {
  position: relative;
  cursor: pointer;
}


.deck-slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
  transition: 0.5s left, 0.5s top, 0.5s transform;
  // background: linear-gradient(var(--color-light) 0%, var(--color-blue-light) 100%);
}

.deck-slide.active {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.deck-slide[data-order="0"] {
  top: 0px;
  left: 0px;
  z-index: 11;
  transition-delay: 0s;
}

.deck-slide[data-order="1"] {
  top: -30px;
  left: 30px;
  z-index: 10;
  transition-delay: 0.1s;
}

.deck-slide[data-order="2"] {
  top: -60px;
  left: 60px;
  z-index: 9;
  transition-delay: 0.2s;
}

.deck-slide[data-order="3"] {
  top: -90px;
  left: 90px;
  z-index: 8;
  transition-delay: 0.3s;
}

.deck-slide[data-order="4"] {
  top: -80px;
  left: 80px;
  z-index: 7;
  transition-delay: 0.4s;
}


// ISOLATED CARD
.s-iso-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;

  @media only screen and (min-width: 1160px) {
    min-height: unset;
  }

  .c-card {
    transition: opacity .8s ease;
    width: 80vw;
    @media only screen and (min-width: 1160px) {
      width: 400px;
    }
  }
}

// ISOLATED CARD
.s-iso-card.flip .c-card {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  background-color: var(--color-blue-light-iso);
  cursor: pointer;
  transition: transform 1s ease, background-color .5s ease, box-shadow .5s ease;



  &:hover {
    transition: transform 1s ease, background-color .5s ease, box-shadow .5s ease;
    background-color: #dee7f0;
    box-shadow: 5px 5px 20px rgba(1, 1, 42, 0.204);

    .c-card__svg use {
      fill: #dee7f0;
    }
  }

}

.s-iso-card.flip .c-card.is-active {
  transform: rotateY(180deg);
}

.s-iso-card.flip .c-card__front,
.s-iso-card.flip .c-card__back {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  padding: 12px;
}

.s-iso-card.flip .c-card__front .c-card__txt,
.s-iso-card.flip .c-card__back .c-card__txt {
  text-align: center;
  max-width: 80%;
}

.s-iso-card.flip .c-card__back {
  transform: rotateY(180deg);
}

.s-iso-card.flip .c-card__front .c-card__txt p {
  transition: opacity 2s ease;
}

.s-iso-card.flip .c-card__back .c-card__txt p {
  transition: opacity 2s ease;
}

// Dropdown
.c-dropdown__extra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

// cenefa
.c-cnfa {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin: 24px 0;
  padding-right: 12px;

  & * {
    font-size: 12px;
  }
}