:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-light: #ECF1F6;
  --color-blue-light: #d7e1eb;
  --color-blue-default: #C4CFDA;
  --color-blue-dark-card: #192570;
  --color-blue-dark: #0E1457;

  --spc-s: 12px;
  --spc-m: 24px;
  --spc-l: 40px;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body.page-screen {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 22px;
  color: var(--color-blue-dark);
}


section {
  width: 100%;
  height: 100vh;
  padding: var(--spc-m);
}

a {
  all: unset;
  cursor: pointer;

  &:not(.title):hover {
    text-decoration: underline;
  }
}

a.underline {
  text-decoration: underline;
}


h1 {
  font-size: 14px;
}

*::selection {
  background-color: var(--color-blue-dark);
  color: var(--color-blue-light);
}



//Buttons
.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: fit-content;
  display: inline;
  color: var(--color-blue-dark);
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.7;
  transition: opacity .3s ease;
  }
}
// Background gradient
.bg-grad {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(200deg,
      var(--color-blue-default) 40%,
      var(--color-light) 100%);
}

// Header
.c-hdr,
.c-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--spc-m);
  position: fixed;
}

.page-screen {
  .c-hdr,
.c-footer {
  opacity: 0;
  transition: opacity .8s ease;

}
}


.c-footer {
  bottom: 0;
  justify-content: space-between;
}

// SECTIONS
// Intro
.s-intro {
  padding-top: 40px;
  justify-content: space-between;

  &>* {
    width: 50%;
  }

  &__desc {
    max-width: 570px;
    gap: 20px;

   
   
  }

  &__cards {
    align-items: center;
    justify-content: start;
    top: 110px;
    position: relative;

    & .c-card {
      width: 380px;
    }
  }
}

// Cards grid section
.s-cards-grid {
  padding: 80px !important;
  justify-content: center;
  align-items: center;
}

// Cards
.c-card {
  position: relative;
  background-color: var(--color-blue-light);
  padding: var(--spc-m);
  text-align: center;
  aspect-ratio: 14/19;
  border: 1.2px solid var(--color-blue-dark-card);
  box-shadow: 5px 5px 10px rgba(1, 1, 42, 0.073);

  &__txt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      max-width: 280px;
      font-size: 20px;
      line-height: 29px;
    }
  }
}

.deck-slide.active .c-card {
  transition: transform .5s ease, background-color .5s ease, box-shadow .5s ease;

  &:hover {
    transform: translateY(3px) translateX(-3px);
    transition: transform .5s ease, background-color .5s ease, box-shadow .5s ease;
    background-color: #dee7f0;
    box-shadow: 5px 5px 20px rgba(1, 1, 42, 0.204);

    .c-card__svg use {
      fill: #dee7f0;
    }

  }

}

.c-card__star {
  position: absolute;
  width: 45px;
  height: 45px;
  pointer-events: none;
  display: inline-block;
}

.c-card__svg {
  width: 45px;
  height: 45px;
  display: block;
}

.c-card__svg use {
  fill: var(--color-blue-light);
  stroke: var(--color-blue-dark-card);
  stroke-width: 1.2px;
  stroke-linejoin: round;
}

.c-card__star--tl {
  top: -23px;
  left: -23px;
}

.c-card__star--tr {
  top: -23px;
  right: -23px;
}

.c-card__star--bl {
  bottom: -23px;
  left: -23px;
}

.c-card__star--br {
  bottom: -23px;
  right: -23px;
}



// Utility
.flx {
  display: flex;
  gap: var(--spc-s);
}

.flx-cl {
  display: flex;
  gap: var(--spc-s);
  flex-direction: column;
}

.g60 {
  gap: 60px;
}
//Deck slider
.deck-slider {
  position: relative;
  cursor: pointer;
}


.deck-slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
  transition: 0.5s left, 0.5s top, 0.5s transform;
  // background: linear-gradient(var(--color-light) 0%, var(--color-blue-light) 100%);
}

.deck-slide.active {
  position: relative;
  z-index: 1;
  opacity: 1;

  
}

.deck-slide[data-order="0"] {
  top: 0px;
  left: 0px;
  z-index: 11;
  transition-delay: 0s;
}

.deck-slide[data-order="1"] {
  top: -30px;
  left: 30px;
  z-index: 10;
  transition-delay: 0.1s;
}

.deck-slide[data-order="2"] {
  top: -60px;
  left: 60px;
  z-index: 9;
  transition-delay: 0.2s;
}

.deck-slide[data-order="3"] {
  top: -90px;
  left: 90px;
  z-index: 8;
  transition-delay: 0.3s;
}

.deck-slide[data-order="4"] {
  top: -80px;
  left: 80px;
  z-index: 7;
  transition-delay: 0.4s;
}

// Cards grid
.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 60px;
  row-gap: 60px;
  width: 75vw;

  .c-card {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    background-color: #c8d3de;
    background-color: transparent;
  }

  .c-card.is-active {
    transform: rotateY(180deg);
  }

  .c-card__front,
  .c-card__back {
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .c-card__front {}

  .c-card__back {
    transform: rotateY(180deg);
    background-color: #c8d3de;
    background-color: var(--color-blue-light);

  }

  .c-card__txt p {
    opacity: 0;
    font-size: 16px;
    line-height: normal;
    transition: opacity 0.3s ease;
  }

  .c-card.is-active .c-card__txt p {
    opacity: 1;
  }

  .c-card__star {
    z-index: 9;

  }

  .c-card__svg {
    width: 30px;
    height: 30px;
  }

  .c-card__star--tl {
    top: -15px;
    left: -15px;
  }

  .c-card__star--tr {
    top: -15px;
    right: -31px;
  }

  .c-card__star--bl {
    bottom: -31px;
    left: -15px;
  }

  .c-card__star--br {
    bottom: -31px;
    right: -31px;
  }

}




// ISOLATED CARD
.s-iso-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .c-card {
    width: 400px;
    transition: opacity .8s ease;

  }
}


// ISOLATED CARD
.s-iso-card.flip .c-card {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  cursor: pointer;


}

.s-iso-card.flip .c-card.is-active {
  transform: rotateY(180deg);
}

.s-iso-card.flip .c-card__front,
.s-iso-card.flip .c-card__back {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  padding: 12px;
}

.s-iso-card.flip .c-card__front .c-card__txt,
.s-iso-card.flip .c-card__back .c-card__txt {
  text-align: center;
  max-width: 80%;
}

.s-iso-card.flip .c-card__back {
  transform: rotateY(180deg);
}

.s-iso-card.flip .c-card__front .c-card__txt p {
  transition: opacity 2s ease;
}

.s-iso-card.flip .c-card__back .c-card__txt p {
  transition: opacity 2s ease;
}


// Dropdown
.c-dropdown__extra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}


// cenefa
.c-cnfa {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin: 24px 0;
  padding-right: 12px;

  & * {
    font-size: 12px;
  }
}