/*Gradients*/
.gradient-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-image: var(--gradient-top);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
     filter: blur(20px);  
     -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
}

.gradient-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-image: var(--gradient-bottom);
}

/*Shiny parallax*/
#shine1, #shine2, #shine3{
    position: fixed; 
    width: 100%; 
    height: 6000px;
    top: 0;
    z-index: -1; 
} 

#shine1 {
    opacity: 0.7;
    background-image: 
    radial-gradient( circle 200px,
        rgb(183, 247, 247)  0%, rgba(93, 0, 255, 0) 100% 
    );
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: 0px 300px;
    animation: shine1 20s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);;

}

#shine2 {
    width: 130%;
    opacity: 0.9;
    background-image: 
        radial-gradient( circle 500px,
            rgba(255, 255, 255, 0.886) 0%, rgba(93, 0, 255, 0) 100% 
        );
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    background-position: 800px 0px;
}

@keyframes shine1 {
    from {background-image: 
        radial-gradient( circle 200px,
            rgb(228, 255, 255)  0%, rgba(93, 0, 255, 0) 100% 
        );}
    to {background-image: 
        radial-gradient( circle 200px,
        rgb(228, 255, 255)   0%, rgba(93, 0, 255, 0) 100% 
        );}
}

/* #shine3 {
    opacity: 0.6;
    background-image: radial-gradient( circle 400px,
        rgb(0, 255, 72) 0%,
        rgb(0, 255, 13) 11%,
        rgba(0, 255, 51, 0.9) 22%,
        hsla(216deg 90% 98% / .8) 33%,
        hsla(216deg 90% 97% / .6) 44%,
        hsla(216deg 90% 96% / .4) 56%,
        hsla(216deg 90% 95% / .3) 67%,
        hsla(216deg 90% 94% / .2) 78%,
        hsla(215deg 90% 93% / .1) 88%,
        hsla(215deg 89% 93% / 0) 100%
    );
    background-repeat: no-repeat;
    background-size: 900px 900px;
    background-position: 110% 1300px;
}  */

