/*
***Show section elements on scroll*/
.hidden {
    /* color: transparent; */
    opacity: 0;
    transform: translateY(45px); 
    transition: transform 0.9s, opacity 0.9s;
}

.on-show{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}

@media(prefers-reduced-motion) {
    .on-show{
        transition: none;
    }
}


/* To down, to up arrows*/
#to-down-arrow {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: default;
    bottom: 1rem;
    right: 0.8rem;
    fill: var(--text-primary);
    z-index: 9999999;
    opacity: 0;
    
    animation: 
        showup 3s 1.3s forwards,
        fly 4s 2s infinite;

    transition: fill 2s;
}

@keyframes showup {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fly {
    0% {bottom: 1rem;}
    50% {bottom: 2rem;}
    100% {bottom: 1rem;}
}

#to-down-arrow:hover {
    fill: transparent;
}

.hide-to-down-arrow {
    fill: transparent !important;
}

@media only screen and (max-width: 900px){
    #to-down-arrow {
        width: 50px;
        height: 50px;
    }
}



/* Floating imgs */
#def-img:hover {
    bottom: 0px;
    -webkit-filter: drop-shadow(0px 0px 10px rgb(250, 216, 221));
    animation: 
        fly-img 4s ease-in infinite;

    transition: filter ease-out 2s;
    
}

@keyframes fly-img {
    0% {bottom: 0;}
    25% {bottom: 5px;}
    50% {bottom: 0;}
    75% {bottom: -5px;}
    100% {bottom: 0;}

}