/*
***Show section elements on scroll*/
.hidden {
    /* color: transparent; */
    opacity: 0;
    transform: translateY(80px); 
    transition: transform 1.5s, opacity 1s;
}

.on-show {
    opacity: 1;
    transform: translateY(0);

}

@media(prefers-reduced-motion) {
    .on-show{
        transition: none;
    }
}

/* Blur / unblur on view */
.blur {
    -webkit-filter: blur(10px) drop-shadow(0px 0px 10px var(--shadow-color-img));
    filter: blur(10px) drop-shadow(0px 0px 10px var(--shadow-color-img));
    transition: all 2s ease;
}

.unblur {
    -webkit-filter: blur(0px) drop-shadow(0px 0px 10px var(--shadow-color-img));
    filter: blur(0px) drop-shadow(0px 0px 10px var(--shadow-color-img));
    transition: all 2s ease;
}


/* To down, to up arrows*/
#to-down-arrow {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: default;
    bottom: 1rem;
    right: 0.8rem;
    fill: var(--text-primary);
    z-index: 9999999;
    opacity: 0;
    
    animation: 
        showup 3s 1.3s forwards,
        fly 3.5s linear 2s infinite;

    transition: fill 2s;
}

@keyframes showup {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fly {
    0% {bottom: 1rem;}
    50% {bottom: 2rem;}
    100% {bottom: 1rem;}
}


.hide-to-down-arrow, #to-down-arrow:hover {
    fill: transparent !important;
}

@media only screen and (max-width: 900px){
    #to-down-arrow {
        width: 65px;
        height: 65px;
        bottom: .5rem;
    }

    @keyframes fly {
        0% {bottom: .5rem;}
        50% {bottom: 1rem;}
        100% {bottom: .5rem;}
    }
}

/* Floating imgs */
#def-img:hover {
    bottom: 0px;
    animation: 
        fly-img 4s ease-in infinite;
}

@keyframes fly-img {
    0% {bottom: 0;}
    25% {bottom: 5px;}
    50% {bottom: 0;}
    75% {bottom: -5px;}
    100% {bottom: 0;}
}


/*Pointer*/

#mPointer{
    width: 40px;
	height: 40px;
	background-color: rgba(243, 248, 255, 0.762);
	position: absolute;
	top: 50px;
	left: 50px;
	box-shadow: 0 0 20px 12px #fff;
	border-radius: 50%;
    transition: 0.2s ease-out;
}

@media only screen and (max-width: 769px) {
    #mPointer {
        display: none;
    }
}